body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}
.logo {
width: 10%;
height: 10vh;
}
.navClass { 
    background-color:lightgrey; 
    text-decoration: none; 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    overflow: hidden; 
    position: fixed;
    float: left; 
    li { float: left; 
        flex-direction: column; 
        border-right: 1px solid rgb(23, 23, 63); 
    } li a { display: block; 
        color: rgb(23, 23, 63); 
        text-align: center; 
        padding: 14px 16px; 
        text-decoration: none; } 
        li a:hover { background-color: rgb(170, 166, 166); } 
        li:last-child { border-right: none; 
        } 
    }
    #navigation {
        display: flex;
        float: left;
    }
    .commercial {
        bottom: 0;
        position: fixed;
        width: 100%;
        display: flex;
        display: row;
    }