body {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}
.logoHeaderContainer {
flex: 1;
display: flex;
justify-content: flex-start;
}
.logoHeaderContainer img {
height: auto;
width: 100px;
max-height: 50px;
}
.logoLogIn {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.logoLogIn img {
    width: 20%;
    height: 20%;
}
.headerRight {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
#header1 {
display: flex;
    justify-content: space-between;
    align-items: center;           
    position: fixed;               
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightgrey;   
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}
.navClass { 
    background-color:lightgrey; 
    text-decoration: none; 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    overflow: hidden; 
    display: flex;
    li { float: left; 
        flex-direction: column; 
        border-right: 1px solid rgb(23, 23, 63); 
    } li a { display: block; 
        color: rgb(23, 23, 63); 
        text-align: center; 
        padding: 14px 16px; 
        text-decoration: none; } 
        li a:hover { background-color: rgb(170, 166, 166); } 
        li:last-child { border-right: none; 
        } 
    }
    #navigation {
        flex: 2;
        display: flex;
        justify-content: center;
    }
   
    .commercial {
        bottom: 0;
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: row;
        z-index: -1;
    }
    #loggInDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        margin: 40px;
        gap: 30px;
        box-sizing: border-box;
    }
     .box {
        flex:1;
    }
    #loggInForm {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 25px;
        border: 5px solid rgb(23, 23, 63);
    }
    #createAccount {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        margin: 10px;
        gap: 2px;
        box-sizing: border-box;
    }
    #createAccountForm {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 10px 15px;
        border: 5px solid rgb(23, 23, 63);
        width: 30%;
    }